.footer
  .footer-container
    .footer-column
      %ul.footer-contacts
        %li
          %strong> Address
          =": 25800 Carlos Bee Blvd, Hayward, CA 94542"
        %li
          %strong> Phone
          =": (510) 936-2781"
    .footer-column
      %ul
        %li= link_to "Home", "/index.html"
        %li= link_to_article "student-works", "Student Works"
        %li= link_to_article "facilities", "Facilities"
        %li= link_to_article "faculty", "Faculty"
    .footer-column
      %ul
        %li= link_to_article "curriculum", "Curriculum"
        %li= link_to_article "apply", "Apply"
        %li= link_to_article "contact", "Contact"
    .footer-column
      %ul.footer-social-networks
        %li
          = link_to "Like us on Facebook", "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
        %li
          = link_to "Follow us on Google+", "https://plus.google.com/+CSUEBMultimediaGraduateProgramHayward/about",
                    :title => "Follow us on Google+",
                    :class => "social-google+"

        %li
          = link_to "Follow us on Twitter", "https://twitter.com/csuebnewmedia",
                     :title => "Follow us on Twitter",
                                :class => "social-twitter"
        %li
          = link_to "Follow us on YouTube", "https://www.youtube.com/playlist?list=PL-zTjF_nOo37KT4xs3nNPe88es_LDX-EK",
                      :title => "Follow us on YouTube",
                      :class => "social-youtube"
