.footer
  .footer-container
    .footer-column
      %ul.footer-contacts
        %li
          %strong> Address
          =": 25800 Carlos Bee Blvd, Hayward, CA 94542"
        %li
          %strong> Phone
          =": (510) 936-2781"
    .footer-column
      %ul
        %li= link_to "Home", "/index.html"
        %li= link_to_article "student-works", "Student Works"
        %li= link_to_article "facilities", "Facilities"
        %li= link_to_article "faculty", "Faculty"
    .footer-column
      %ul
        %li= link_to_article "curriculum", "Curriculum"
        %li= link_to_article "apply", "Apply"
        %li= link_to_article "contact", "Contact"
    .footer-column
      %ul.footer-social-networks
        %li
          = link_to "Like us on Facebook", "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
        %li
          = link_to "Like us on Facebook", "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
        %li
        / Begin MailChimp Signup Form
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "//csueastbay.us9.list-manage.com/subscribe/post?u=2ce819a7b029380738b02fd12&amp;id=aa98ae2b9e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            #mc_embed_signup_scroll
              %h2 Subscribe to our mailing list
              .indicates-required
                %span.asterisk *
                indicates required
              .mc-field-group
                %label{:for => "mce-EMAIL"}
                  Email Address
                  %span.asterisk *
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}
              .mc-field-group
                %label{:for => "mce-FNAME"} First Name
                %input#mce-FNAME{:name => "FNAME", :type => "text", :value => ""}
              .mc-field-group
                %label{:for => "mce-LNAME"} Last Name
                %input#mce-LNAME{:name => "LNAME", :type => "text", :value => ""}
              %p
                Powered by
                %a{:href => "http://eepurl.com/bSHf8f", :title => "MailChimp - email marketing made easy and fun"} MailChimp
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                %input{:name => "b_2ce819a7b029380738b02fd12_aa98ae2b9e", :tabindex => "-1", :type => "text", :value => ""}/
              .clear
                %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
        / End mc_embed_signup
