---
layout: false
---
- pages = sitemap.resources.find_all { |p| p.url.match(/(\/|\.pdf)$/) }
!!! xml
%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")
  - pages.each do |p|
    %url
      %loc= "#{data.config.canonical_host}#{p.url}"
      %lastmod= File.mtime(p.source_file).iso8601
      %changefreq weekly
      %priority= p.url == '/' ? '1.00' : p.url.end_with?('.pdf') ? '0.64' : '0.80'
